@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gluten:wght@200&family=Lobster&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
   
}
body{
    width: 100%;
    height: max-content;
    background-image: url(watercolour-1325656__480.jpg)
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    
}
main{
    
    min-height:50rem ;
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px rgb(49, 58, 58);
    background: linear-gradient(to right, rgb(2, 201, 201), rgb(8, 94, 94));
    /* overflow: scroll; */
}

header{
   
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px white;
    
    
}

.date{
    display: flex;
    justify-content: space-evenly;
    

    
}
.refresh{
    cursor: pointer;
    margin-top: 2rem;
    color: rgb(113, 247, 3);
   
    width: 3rem;
    font-size: 2rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(4, 160, 160);
    border: none;
    box-shadow: 5px 5px 5px rgb(3, 202, 228);
}
.refresh  :hover{
    transition: 1s;
    color: rgb(240, 247, 245);
   
    
        
}

.real-date-time{
    
    
    width: max-content;
    font-family: 'Gluten', cursive;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 900;
    box-shadow: 5px 5px 5px;
    line-height: 1.2rem;
    border-radius: 5px;
    color: rgb(70, 19, 3);
    background-color: rgb(4, 160, 160);
    padding: 1rem;
  
    
}
    


.container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    
}
.container__parag{
    margin-bottom: 1rem ;
    font-family: 'Gluten', cursive;
    font-size: 2rem;
    text-shadow: 1px 1px 1px;
}
.container_input{
    
    width: 70%;
   display: flex;
   justify-content: space-between;
}
.container__input{
    flex: 1 1 0%;
    font-size: 1.5rem;
    border: none;
    font-family: 'Gluten', cursive;
    font-weight: 900;
    padding: 1rem;
    outline: none;
   
    border-radius: 1rem;
    box-shadow: inset 1px 3px 2px rgb(49, 58, 58);
    background: linear-gradient(to right, rgb(145, 248, 248), rgb(5, 185, 185));
}
h2{
   
    font-family: 'Gluten', cursive;
    margin-bottom: 1rem;
    font-size: 3rem
}
.input-button{
    color: rgb(218, 207, 207);
    cursor: pointer;
    border: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    background: linear-gradient(to right, rgb(3, 92, 92), rgb(5, 185, 185));
    margin-left: .6rem;
    border-radius: .6rem;
    font-size: 1rem;
    padding: .4rem;
    font-weight: 700;
    font-family: 'Gluten', cursive;
    box-shadow:  1px 1px 1px 1px rgb(49, 58, 58) ;
    
   

}

.area{

   max-width: 100%;
    margin-top: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
    
    
}
.area .to-dos-area{
    
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(138, 253, 215); */
    
    word-wrap: break-word;
    border-radius: 1rem;
    
}
.to-dos-area .text{
  
   padding-top: .9rem;
   padding-left: .5rem;
    flex: 1 1 0%;
    border-radius: 1rem;
    outline: none;
    /* background-color: rgb(138, 253, 215); */
    font-family: 'Gluten', cursive;
    font-weight: 800;
    font-size: 1rem;
    box-shadow:  1px 3px 2px rgb(49, 58, 58);
    background: linear-gradient(to right, rgb(145, 248, 248), rgb(5, 185, 185));
    
    

}
.to-dos-area .done{
    cursor: pointer;
    color: white;
    margin: 0 .1rem;
    width: 2.9rem;
    border: none;
    border-radius: .6rem;
    background-color: rgb(87, 170, 4);
    font-weight: 800;
    height: 2.9rem;
    box-shadow:  1px 3px 2px rgb(49, 58, 58);
    font-family: 'Gluten', cursive;
}
.to-dos-area .delete{
    cursor: pointer;
    color: white;
    border-radius: .6rem;
    background-color: rgba(240, 1, 49, 0.884);
    border: none;
    font-weight: 800;
    height: 2.9rem;
    box-shadow:  1px 3px 2px rgb(49, 58, 58);
    font-family: 'Gluten', cursive;
    width: 2.9rem;
}

.to-dos-area .action{
    display: flex;
    justify-content: baseline;
    
    height: 100%;
  
}





@media(max-width:1030px){
    main{
        width: 70%;
    }
}
@media(max-width:850px){
    main{
        width: 70%;
    }
}
@media(max-width:720px){
    main{
        width: 75%;
    }
}
@media(max-width:570px){
    main{
        width: 90%;
    }
    #arrow{
    
        margin-left: 1.5rem;
        
    
    }
}
.container__parag{
    
    font-size: 1.2rem;
    
}
@media(max-width:470px){
    main{
        width: 80%;
    }
    header{
        font-size: 1.5rem;
       
    }
    .container__parag{
        
        font-size: 1.2rem;
        
}
#arrow{
    
    margin-left: .1rem;
   
    

}
.to-do{
    max-width: 90%;
    margin: auto;
}
.real-date-time{
    width: max-content;
    margin: auto;
    margin-top: 2rem;
}
.date{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;

}
}